
nodes:
%{ for index, dns in rancher-id ~}
  - address: ${rancher-pip[index]}
    internal_address: ${rancher-ip[index]}
    hostname_override: ${dns}
    role: [controlplane, etcd]
    user: rke
%{ endfor ~}
%{ for index, dns in worker-id ~}
  - address: ${worker-pip[index]}
    internal_address: ${worker-ip[index]}
    hostname_override: ${dns}
    role: [worker]
    user: rke
%{ endfor ~}
%{ for index, dns in longhorn-id ~}
  - address: ${longhorn-pip[index]}
    internal_address: ${longhorn-ip[index]}
    hostname_override: ${dns}
    role: [worker]
    user: rke
%{ endfor ~}

# using a local ssh agent
# Using SSH private key with a passphrase - eval `ssh-agent -s` && ssh-add
ssh_agent_auth: true

#  SSH key that access all hosts in your cluster
ssh_key_path: id_rsa

# By default, the name of your cluster will be local
# Set different Cluster name
cluster_name: rke

# Fail for Docker version not supported by Kubernetes
ignore_docker_version: false

# prefix_path: /opt/custom_path

cloud_provider:
    name: aws
    name: azure

addons_include:
  - https://raw.githubusercontent.com/rook/rook/master/cluster/examples/kubernetes/rook-operator.yaml
  - https://raw.githubusercontent.com/rook/rook/master/cluster/examples/kubernetes/rook-cluster.yaml